.header-brand-img{
    width: 200px;
}
.lavalite-bg{
    background-image: url('/assets/img/auth/login-bg.jpg');
}
.lavalite-overlay img {
    padding: 300px 222px;
}
span.text-danger{
    font-size: 10px;
    margin: 5px 0;
}
.account-logo{
    width: 100%;
}
.btn-edit-logo {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 12px;
    padding: 5px 5px;
}
.transaction-table {
    min-height: 300px !important;
}
.transaction-table .show.dropdown {
    overflow: initial !important;
}
.transaction-table .dropdown-menu.show {
    transform: translate(0px, 30px) !important;
    font-size: 10px;
}
.transaction-table .badge.badge-pill {
    font-size: 10px;
}
.table-user-thumb {
    width: 100%;
    padding: 5px;
}
.transaction-table .rdt_TableCell, .transaction-table .rdt_TableCell p {
    font-size: 10px;
}
.rdt_TableHeader{
    display: none !important;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus{
    background-color: #fff !important;
}
.prod-p-card {
    min-height: 169px;
}